[Unit]
Description=Cromwell Server
After=network.target

[Service]
User=root
Group=root
Restart=always
TimeoutStopSec=10
RestartSec=5
WorkingDirectory=/opt/ccdg/cromwell-@CROMWELL_VERSION@
Environment=MYSQL=@CROMWELL_CLOUDSQL_PASSWORD@
Environment=LOG_MODE=standard
ExecStart=/usr/bin/java -Xmx25000M -Dconfig.file=/opt/ccdg/cromwell-@CROMWELL_VERSION@/config/PAPI.v2.conf -jar /opt/ccdg/cromwell-@CROMWELL_VERSION@/jar/cromwell-@CROMWELL_VERSION@.jar server

[Install]
WantedBy=multi-user.target
