[Unit]
Description=Cromwell Server
After=network.target

[Service]
User=root
Group=root
Restart=always
TimeoutStopSec=10
RestartSec=5
WorkingDirectory=/opt/ccdg/cromwell-39
Environment=MYSQL=cromwell
Environment=LOG_MODE=standard
ExecStart=/usr/bin/java -Xmx25000M -Dconfig.file=/opt/ccdg/cromwell-39/config/PAPI.v2.conf -jar /opt/ccdg/cromwell-39/jar/cromwell-39.jar server

[Install]
WantedBy=multi-user.target
