
{% set networkName = env['deployment'] + '-net' %}
{% set subNetworkName = env['deployment'] + '-subnet' %}
{% if use_vpc_network %}
{%   set vpc_network = networkName %}
{% else %}
{%   set vpc_network = "" %}
{% endif %}
{% set staticIpName = env['deployment'] + '-static-ip' %}
{% set cromwellServerName = env['deployment'] + '-cromwell' %}
{% set cloudsqlName = env['deployment'] + '-cloudsql' %}

resources:

- name: {{ networkName }}
  type: compute.v1.network
  properties:
    autoCreateSubnetworks: false
- name: {{ subNetworkName }}
  type: compute.v1.subnetwork
  properties:
    network: $(ref.{{ networkName }}.selfLink)
    ipCidrRange: 10.10.0.0/16
    region: {{ properties["region"] }}
    {% if vpc_network %}
    privateIpGoogleAccess: true
    {% endif %}

{% if properties['ssh_source_ranges'] %}
- name: {{ networkName }}-ssh-allowed
  type: compute.v1.firewall
  properties:
    network: $(ref.{{ networkName }}.selfLink)
    sourceRanges: {{ properties['ssh_source_ranges'] }}
    targetTags: ["cromwell-ssh-allowed"]
    priority: 1000
    allowed:
    - IPProtocol: TCP
      ports: ["22"]
    - IPProtocol: ICMP
{% endif %}

- name: {{ staticIpName }}
  type: compute.v1.address
  properties:
    region: {{ properties["region"] }}
    networkTier: PREMIUM

- name: {{ cloudsqlName }}
  type: sqladmin.v1beta4.instance
  properties:
    backendType: SECOND_GEN
    instanceType: CLOUD_SQL_INSTANCE
    databaseVersion: MYSQL_5_7
    region: {{ properties['region'] }}
    {% if properties.get('labels', None): %}
    labels:
    {%   for k, v in properties['labels'].items(): %}
      {{ "{}: {}".format(k, v) }}
    {%   endfor %}
    {% endif %}
    settings:
      tier: {{ properties['cromwell_cloudsql_instance_type'] }}
      dataDiskSizeGb: {{ properties['cromwell_cloudsql_initial_size'] }}
      dataDiskType: PD_SSD
      storageAutoResize: true
      replicationType: SYNCHRONOUS
      locationPreference:
        zone: {{ properties['zone'] }}
      activationPolicy: ALWAYS
      backupConfiguration:
        enabled: true
        binaryLogEnabled: true
      ipConfiguration:
        authorizedNetworks: [{ value: $(ref.{{ staticIpName }}.address)/32 }]
  metadata:
    dependsOn:
      - {{ staticIpName }}

- name: cromwell
  type: gcp-types/sqladmin-v1beta4:databases
  properties:
    name: cromwell
    instance: $(ref.{{ cloudsqlName }}.name)
    charset: utf8
- name: root-user-entity
  type: gcp-types/sqladmin-v1beta4:users
  properties:
    instance: $(ref.{{ cloudsqlName }}.name)
    name: root
    host: "%"
    password: {{ properties["cromwell_cloudsql_password"] }}
  metadata:
    dependsOn:
      - cromwell

- name: {{ cromwellServerName }}
  type: compute.v1.instance
  properties:
    region: {{ properties['region'] }}
    zone: {{ properties['zone'] }}
    machineType: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/zones/{{ properties["zone"] }}/machineTypes/{{ properties["cromwell_server_machine_type"] }}
    minCpuPlatform: Intel Skylake
    serviceAccounts:
      - email: {{ properties['service_account_email'] }}
        scopes:
          - https://www.googleapis.com/auth/cloud-platform
    tags:
      items:
        - cromwell-ssh-allowed
    {% if properties.get('labels', None): %}
    labels:
    {%   for k, v in properties['labels'].items(): %}
      {{ "{}: {}".format(k, v) }}
    {%   endfor %}
    {% endif %}
    disks:
      - deviceName: boot
        type: PERSISTENT
        boot: true
        autoDelete: true
        initializeParams:
          sourceImage: https://www.googleapis.com/compute/v1/projects/debian-cloud/global/images/family/debian-10
          diskType: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/zones/{{ properties["zone"] }}/diskTypes/pd-standard
          diskSizeGb: {{ properties['cromwell_server_boot_disk_size'] }}
    networkInterfaces:
    - subnetwork: $(ref.{{ subNetworkName }}.selfLink)
      accessConfigs:
      - name: External NAT
        type: ONE_TO_ONE_NAT
        natIP: $(ref.{{ staticIpName }}.address)
    metadata:
      dependsOn:
        - {{ cloudsqlName }}
      items:
        - key: startup-script
          value: |
            {{ imports["../startup-scripts/cromwell.py"]|indent(12)|replace("@VPC_NETWORK@",vpc_network)|replace("@CROMWELL_VERSION@",properties["cromwell_version"])|replace("@CROMWELL_CLOUDSQL_PASSWORD@",properties["cromwell_cloudsql_password"])|replace("@SERVICE_ACCOUNT_EMAIL@",properties["service_account_email"])|replace("@PROJECT@",env["project"])|replace("@CROMWELL_GCS_ROOT@",properties["cromwell_gcs_root"]) }}
        - key: cromwell-service
          value: |
            {{ imports["../cromwell-configs/systemd/cromwell.service"]|indent(12)|replace("@CROMWELL_VERSION@",properties["cromwell_version"])|replace("@CROMWELL_CLOUDSQL_PASSWORD@",properties["cromwell_cloudsql_password"])|replace("@CROMWELL_SERVER_SERVICE_MEM@",properties["cromwell_server_service_mem"]) }}
        - key: papi-v2-conf
          value: |
            {{ imports["../cromwell-configs/PAPI.v2.conf"]|indent(12) }}
        - key: cloudsql-name
          value: {{ cloudsqlName }}
        - key: cloudsql-ip
          value: $(ref.{{ cloudsqlName }}.ipAddresses[0].ipAddress)
